.item{
	border:1px solid #eee;
	margin:20px;
	background:#fff;
	padding:10px;
}
.t{
	width:80px;
	height:80px;
	background:red;
	position: absolute;
	transform: rotate(-45deg) scale(.5);
	position: relative;
}
.t::before, .t::after {
	content: "";
	display: block;
	width:80px;
	height:80px;
	border-radius: 100px;
	background:red;
	position: absolute;
}
.t::after{
	left:37px;
}
.t::before{
	top:-37px;
}