.login{
    display:inline-block;
    width:100%;
    height:64px;
    text-align: center;
    line-height:64px;
    font-size:28px;
    color:#fff;
    background:rgb(4, 45, 87);
}
.inline .login{
    width:200px;
    height:46px;
    line-height:46px;
}
.inline{
    display:inline-block;
    height:100%;
    vertical-align: top;
}